<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title></title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    <div class="question">
      <div class="headerbar">
        <a href="./index.html"><img src="img/yellow_close.png" ng-click="goHome()"></a>
        <div class="text">Question 4</div>
      </div>

      <div class="content">
        <div class="intro">
          Many datasets controlled by the state are subject to disclosure under the Open Records Law. Do you support making the default policy that such datasets are proactively available online according to commonly accepted open data guidelines (see FAQ for details)? </br></br>Please indicate Yes or No and explain your position.
        </div>

        <div class="divider"></div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/corbet.png">
            <div class="name">Tom Corbett</div>
          </div>
          <div class="blurb">
            <div class="text">
              We are still waiting for a response from Tom Corbett. 
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/glover.png">
            <div class="name">Paul Glover</div>
          </div>
          <div class="blurb">
            <div class="text">
              Yes. I would especially require that all meetings between legislators 
              and/or staff with lobbyists be recorded and published. The revolving 
              door would be thrown open. 

            </div>
          </div>
        </div>

       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/guzzardi.png">
            <div class="name">Bob Guzzardi</div>
          </div>
          <div class="blurb">
            <div class="text">
            Yes
            </br></br>
            The Open Policy Guidelines   http://sunlightfoundation.com/opendataguidelines/#data-collection      appear to be an excellent place to start. As a citizen,  I feel frustrated when I try to find out what government is doing 

            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/Krawchuk.png">
            <div class="name">Ken Krawchuk</div>
          </div>
          <div class="blurb">
            <div class="text">
 
              Yes. The state government should always be answerable to the citizens who pay for it, so openness should 
              be the default course. 

            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mccord.png">
            <div class="name">Rob McCord</div>
          </div>
          <div class="blurb">
            <div class="text">
              Yes. One of my favorite aspects of the 2008 Right to Know law amendments was the
              presumption that all state information is public unless proven otherwise. This represents a
              180-degree turnabout from the law prior to 2008, which was an extremely positive
              development. That same philosophy should be applied to datasets so long as the
              information does not jeopardize public safety and the privacy and confidentiality of citizens
            </div>
          </div>
        </div>   

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mcginty.png">
            <div class="name">Katie McGinty</div>
          </div>
          <div class="blurb">
            <div class="text">
              YES 
              </br></br>
              Currently, with the exception of Pittsburgh and Philadelphia, Pennsylvania provides its 
              information based on reactive response. I believe that general public should not have to 
              jump through hoops to review and obtain data. This information should be readily 
              available and easily accessible. Public information is just that, public. We have the duty, 
              as civil servants, to be as transparent with information as possible with the exception of 
              personal and sensitive information, as directed through current law. 
              </br></br> 
              We must be transparent and with the technology currently available, we have the ability 
              to provide to the public, for the first time in the Commonwealth’s history, open access to 
              public information in real time. 

            </div>
          </div>
        </div> 

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/schwarts.png">
            <div class="name">Allyson Schwartz</div>
          </div>
          <div class="blurb">
            <div class="text">
              I believe that more government records should be available online. If they're public, they're public. 
            </div>
          </div>
        </div> 


       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/wolf.png">
            <div class="name">Tom Wolf</div>
          </div>
          <div class="blurb">
            <div class="text">
              I will work with the Office of the General Counsel to identify and release datasets that 
              are subject to disclosure under the Opens Record Law and do not pose concerns 
              about privacy, confidentiality, or security. Government is responsible to the people 
              and we should be promoting participation and collaboration by making appropriate 
              datasets available. 

            </div>
          </div>
        </div>

      </div>
    </div>

</body>
</html>

