<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title></title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    <div class="question">
      <div class="headerbar">
        <a href="./index.html"><img src="img/yellow_close.png" ng-click="goHome()"></a>
        <div class="text">Question 3</div>
      </div>

      <div class="content">
        <div class="intro">
          Open sharing of information and information technology has helped to improve the relationship between citizens and government. How will your administration use information and technology to better connect with citizens?
        </div>

        <div class="divider"></div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/corbet.png">
            <div class="name">Tom Corbett</div>
          </div>
          <div class="blurb">
            <div class="text">
               We are still waiting for a response from Tom Corbett. 
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/glover.png">
            <div class="name">Paul Glover</div>
          </div>
          <div class="blurb">
            <div class="text">
              Not only should government output be thoroughly available, but 
              interactive public input could be tabulated and displayed, so that the 
              public can use government websites as organizing and advocacy tools. 
               </br></br>
            </div>
          </div>
        </div>

       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/guzzardi.png">
            <div class="name">Bob Guzzardi</div>
          </div>
          <div class="blurb">
            <div class="text">
              I am not tech savvy but there are resources available. Media use this data and asking media users what they need and what obstacles to getting information would provide ideas to explore.  Businesses need to be consulted. What information do businesses need and what are the obstacles to obtaining it? I would consult the business community in similar manner to consulting with the media community to find out what actual users need and want. The tech community can offer ways to meet these needs. 
              </br></br>
              The Open Policy Guidelines   http://sunlightfoundation.com/opendataguidelines/#data-collection      appear to be an excellent place to start. As a citizen,  I feel frustrated when I try to find out what government is doing 
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/Krawchuk.png">
            <div class="name">Ken Krawchuk</div>
          </div>
          <div class="blurb">
            <div class="text">
              On my first day as governor, I will direct the Pennsylvania Department of Corrections to prepare a 
              breakdown of which prisoners are in jail for non-violent drug crimes and other victimless crimes. It is one 
              of my top priorities to expedite pardons for these people because they do not belong in prison. If there is 
              no victim, there is no crime. I will ensure that a monthly report on this is issued until the number of such 
              prisoners becomes zero, because I want to reconnect non-violent citizens with their families. 

            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mccord.png">
            <div class="name">Rob McCord</div>
          </div>
          <div class="blurb">
            <div class="text">
              We’ve pioneered a number of ways at Treasury to connect and engage with citizens and businesses, including the use of online webinars to promote programs such as the 529
              College Savings Plan and the state’s unclaimed property program. As governor, I intend to
              build on this track record and employ other social media tools such as Google hangouts.

            </div>
          </div>
        </div>   

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mcginty.png">
            <div class="name">Katie McGinty</div>
          </div>
          <div class="blurb">
            <div class="text">
              As Governor, my administration will use the latest technology available online to not only 
              provide open data records, but to provide the citizens of Pennsylvania with the 
              opportunity to know what is happening day-to-day in their state government through the 
              internet, social media, etc. 

            </div>
          </div>
        </div> 

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/schwarts.png">
            <div class="name">Allyson Schwartz</div>
          </div>
          <div class="blurb">
            <div class="text">
              While Pennsylvania already accepts electronic submissions of campaign finance reports and lobbying disclosure reports, electronic filing is not currently mandatory. This means that the public does not have immediate access to these important disclosures, and the additional steps required to process mailed reports leave room for mistakes and further delays. I will work to make electronic filing mandatory for both campaign finance reports and lobbying disclosure reports. 
            </div>
          </div>
        </div> 


       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/wolf.png">
            <div class="name">Tom Wolf</div>
          </div>
          <div class="blurb">
            <div class="text">
              I believe our state government should be doing a better job of using information and 
              technology to connect with citizens. My Fresh Start plan includes ideas on how I will 
              make state websites more interactive and user friendly and move more services to 
              the web. 
               </br></br>
              Every service provided in which residents and businesses need to fill out forms or 
              questionnaires should also be available online. From motor vehicles registration, to 
              voter registration, to business permits and taxes, and to reservations at state park 
              campgrounds – essential services should be available online. As governor, I will 
              expand services offered online and more importantly, simplify the user’s online 
              experience. 
               </br></br>
              In addition to making the State’s online services more user friendly, I know that 
              opening government data can be a great tool for building cross-sector collaboration 
              between government and our workers in the high tech sector and at colleges and 
              universities. For example, I will work with our colleges and universities to sponsor 
              hack-a-thons and develop apps that make datasets accessible to residents. By 
              engaging our high tech specialists in this initiative, we can help build an environment 
              where our emerging tech talent wants to stay and start businesses in Pennsylvania. 
 
            </div>
          </div>
        </div>

      </div>
    </div>

</body>
</html>

