<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title></title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    <div class="question">
      <div class="headerbar">
        <a href="./index.html"><img src="img/yellow_close.png" ng-click="goHome()"></a>
        <div class="text">Question 2</div>
      </div>

      <div class="content">
        <div class="intro">
          Public information is often siloed within various state agencies, and not always easily accessible to residents or other units of government. How will your administration improve information sharing in Pennsylvania?
        </div>

        <div class="divider"></div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/corbet.png">
            <div class="name">Tom Corbett</div>
          </div>
          <div class="blurb">
            <div class="text">
              We are still waiting for a response from Tom Corbett. 
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/glover.png">
            <div class="name">Paul Glover</div>
          </div>
          <div class="blurb">
            <div class="text">
 
            Cross-tabulation can be standardized to link, aggregate and display 
            data across disciplines by customization and keywords, much as 
            Googlemaps enable geographic sorting and highlighting. 
            </br></br>              

            </div>
          </div>
        </div>

       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/guzzardi.png">
            <div class="name">Bob Guzzardi</div>
          </div>
          <div class="blurb">
            <div class="text">
              Posting the check register online of each agency would show who gets paid how much.  Posting Requests for Proposal online would facilitate competitive bidding. 
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/Krawchuk.png">
            <div class="name">Ken Krawchuk</div>
          </div>
          <div class="blurb">
            <div class="text">
              As mentioned above, the citizens of PA will have the power to make it clear which information most needs 
              executive branch attention to get released. Also, direct all state agencies sharing data to move beyond web 
              sites to set up peer-to-peer sharing such as BitTorrent so that citizens can get cheap and rapid access to their 
              data
            </div>
          </div>
        </div>

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mccord.png">
            <div class="name">Rob McCord</div>
          </div>
          <div class="blurb">
            <div class="text">
              In addition to the plan outlined in my response to Question 1, I also intend to revamp state
              agencies’ individual websites to improve user-friendliness. Too often, the information these
              sites present is difficult to locate. The sheer size (in terms of page numbers) of these sites
              often leads to information that is not up to date. Another problem is that the commonwealth’s
              web sites have long suffered from poor search functionality. I plan to address each of these
              issues as governor.
            </div>
          </div>
        </div>   

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/mcginty.png">
            <div class="name">Katie McGinty</div>
          </div>
          <div class="blurb">
            <div class="text">
              Please refer to question 1. Before we can begin the process of adopting smart and 
              strong open data policies, we must know what and how much information is available, as 
              well as where the information is stored. By doing so, we will be able to provide a 
              strategic roadmap to efficiently provide clear and open opportunities for the public to 
              access information. 

            </div>
          </div>
        </div> 

        <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/schwarts.png">
            <div class="name">Allyson Schwartz</div>
          </div>
          <div class="blurb">
            <div class="text">
              As governor, I will form a group to investigate an open data plan for Pennsylvania, drawing ideas from what has and is being done in Philadelphia and Pittsburgh.
            </div>
          </div>
        </div> 


       <div class="person" ng-repeat="person in [1, 2, 3]">
          <div class="head">
            <img src="img/people/wolf.png">
            <div class="name">Tom Wolf</div>
          </div>
          <div class="blurb">
            <div class="text">
              I believe that if we are going to give Pennsylvania a fresh start, we need to break 
              down silos across and between government units. As mentioned above, I will create 
              an Office of Data Analysis and Program Management, which will help facilitate 
              information sharing and improve collaboration between departments and agencies. 
               </br></br>
              Additionally, I know we need to generally break down silos and start thinking about 
              policy in a more holistic, comprehensive way. As governor, I will create an Economic 
              Development Partnership, a Cabinet Level initiative with public/private participation 
              (private sector CEOs, labor leaders and local leaders). The Partnership will include 
              the Departments of Education, Health, Public Welfare, General Services 
              Administration, Environmental Protection, Labor, Revenue, Community and 
              Economic Development, Corrections, the Governor’s Budget and Policy Offices and 
              other relevant state government offices. 
               </br></br>
              By working collaboratively with a broad vision of what Pennsylvania can be, we can
              provide more focused and effective leadership and move away from the proprietary 
              nature of departmental silos which often inhibits information sharing. 

            </div>
          </div>
        </div>

      </div>
    </div>

</body>
</html>

